body {
    font-family: Arial;
    background: #f4f6f8;
    padding: 20px;
}

h1 {
    text-align: center;
}

form input, button {
    padding: 10px;
    margin: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

button {
    cursor: pointer;
}

.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: white;
    padding: 30px;
    box-shadow: 0 0 10px gray;
}

.logout {
    margin-top: 20px;
    background: red;
    color: white;
}
